<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap com desktop mp">

  <Identity
    Name="IShiraiKurokoI.30940A14F8CD1"
    Publisher="CN=CA8D01B0-3F39-49D4-85F5-877D7B18934F"
    Version="1.0.4.0" />

  <Properties>
    <DisplayName>WarThunderChatTranslator</DisplayName>
    <PublisherDisplayName>IShirai_KurokoI</PublisherDisplayName>
    <Logo>Assets\ApplicationIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="WarThunderChatTranslator"
        Description="WarThunderChatTranslator，提供游戏内聊天实时翻译。需要.NET Desktop Runtime来运行。"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\ApplicationIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\ApplicationIcons\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\ApplicationIcons\Wide310x150Logo.png"  Square71x71Logo="Assets\ApplicationIcons\SmallTile.png" Square310x310Logo="Assets\ApplicationIcons\LargeTile.png" ShortName="战争雷霆聊天翻译器">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\ApplicationIcons\SplashScreen.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
    <rescap:Capability Name="runFullTrust"/>
  </Capabilities>
</Package>
