<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="fae40801-552a-4afc-8a9e-423048be63b5"
    Publisher="CN=Shirai_Kuroko"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>战争雷霆聊天翻译器</DisplayName>
    <PublisherDisplayName>Shirai_Kuroko</PublisherDisplayName>
    <Logo>Assets\ApplicationIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="战争雷霆聊天翻译器"
        Description="WarThunderChatTranslator，提供游戏内聊天实时翻译"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\ApplicationIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\ApplicationIcons\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\ApplicationIcons\Wide310x150Logo.png"  Square71x71Logo="Assets\ApplicationIcons\SmallTile.png" Square310x310Logo="Assets\ApplicationIcons\LargeTile.png" ShortName="战争雷霆聊天翻译器">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>
